/*=============WebStudio=============*/
:root {
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --primary-color: #212121;
  --secondary-text-color: #757575;
  --title-text-color: #ffffff;
  --background-color: #2f303a;
  --wigets-link-background-color: #f5f4fa;
  --logo-studio: #000000;
  --mail-color: rgba(255, 255, 255, 0.6);
  --line: #ececec;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/*======= Components ========*/

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  border: solid 1px;
  border-color: tomato;
}

.section-padding {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*======= End of Components ========*/

/*=============Header=============*/

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;

  border-bottom: 1px solid var(--line);
}

.header-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-link-contacts {
  display: flex;
  align-items: center;
}

.header-button {
  margin-right: 50px;
}

.link-logo {
  padding-right: 93px;
}

.menu-link-list:not(:last-child) {
  margin-right: 50px;
}

.web,
.studio {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.studio {
  color: var(--logo-studio);
}

.studio-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link:visited {
  color: var(--primary-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.active-link {
  color: var(--accent-color);
}

.header-button,
.tel-link-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.header-button:hover,
.header-button:focus {
  color: var(--accent-color);
}

.tel-link-header:hover,
.tel-link-header:focus {
  color: var(--accent-color);
}
/*=============End Header=============*/

/*=============Hero=============*/
.hero {
  background-color: var(--background-color);
  text-align: center;
  border: solid 1px;
  border-color: tomato;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-bottom: 30px;
  color: var(--title-text-color);
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */

  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.modal-btn {
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*=============End Hero=============*/

/*=============Advantages=============*/

.advantages-list {
  display: flex;
}

.advantages-title-points {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-text {
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
/*============= End Advantages=============*/

/*=============Our job=============*/
.our-job-list,
.our-team-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  border: solid 1px;
  border-color: tomato;
}

.our-job-list {
  margin-bottom: 50px;
}

.job-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
/*============= End Our job=============*/

/*=============Our team=============*/
.our-team {
  background-color: var(--wigets-link-background-color);
}

.our-team-name,
.our-team-specialty {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team-specialty {
  font-weight: 400;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  margin-bottom: 0;
  color: var(--secondary-text-color);
}

.our-team-list {
  margin-bottom: 50px;
}

.our-team-blocks {
  display: flex;
  flex-wrap: nowrap;
  margin-top: -30px;
  margin-left: -30px;
}

.our-team-image {
  margin-bottom: 30px;
}
.our-team-persons {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  background: var(--title-text-color);
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*============= End Our team=============*/

/*=============Footer=============*/

.footer {
  background-color: var(--background-color);
}

.footer-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress-title {
  margin-top: 20px;
}

.adress-link {
  font-style: normal;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.adress-list-link:not(:last-child) {
  margin-bottom: 9px;
}

.mail,
.tel {
  color: var(--mail-color);
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}
/*=============End Footer=============*/

/*=============End WebStudio=============*/

/*=============Portfolio=============*/
.wigets {
  display: flex;
  justify-content: center;
}

.wigwts-padding {
  margin-top: 94px;
  margin-bottom: 50px;
}

.wigets:not(:last-child) {
  margin-right: 8px;
}

.wigets-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
}

.wigets-link {
  background-color: var(--wigets-link-background-color);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.wigets-link:hover,
.wigets-link:focus {
  background-color: var(--accent-color);
  color: var(--title-text-color);
}

.projects-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}

.projects-links,
.projects-links:visited {
  color: var(--primary-color);
}

.projects-title {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
/*=============End Portfolio=============*/
